## Xcode

*.xcodeproj/*
**/*.xcodeproj/*
!*.xcodeproj/xcshareddata/
!**/*.xcodeproj/xcshareddata/
!*.xcodeproj/project.pbxproj
!*.xcworkspace/contents.xcworkspacedata
!**/*.xcodeproj/project.pbxproj
.DS_Store

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output


# Intellij
*.iml
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/gradle.xml
**/.idea/dictionaries
**/.idea/libraries

# User-specific configurations
**/.idea/caches/
**/.idea/libraries/
**/.idea/shelf/
**/.idea/.name
**/.idea/compiler.xml
**/.idea/copyright/profiles_settings.xml
**/.idea/encodings.xml
**/.idea/misc.xml
**/.idea/modules.xml
**/.idea/scopes/scope_settings.xml
**/.idea/vcs.xml
**/.idea/jsLibraryMappings.xml
**/.idea/datasources.xml
**/.idea/dataSources.ids
**/.idea/sqlDataSources.xml
**/.idea/dynamic.xml
**/.idea/uiDesigner.xml

# mpeltonen/sbt-idea plugin
**/.idea_modules/

# Mongo Explorer plugin
**/.idea/mongoSettings.xml

**/node_modules/

# GitHub Actions
vendor/
*.p12
*.txt
*.mobileprovision
*.dSYM*
Gemfile.lock